.container {
  display: flex;
  flex: 1;

  .logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--green-dark);
  }

  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-light);

    padding: 0 109px;

    .loginContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      width: 236px;

      h2 {
        text-align: center;
        margin-bottom: 2rem;
      }

      > p {
        text-align: center;
        font-weight: 600;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
